 .pulse{
    border-radius: 10px;
    position: absolute;
    /*Change to move pulse*/
    top: 0px;
    right:52px;
    /*End Change*/
    width: px;
    height: 8px;
    animation: pulse 0.85s ease-in-out infinite;
}
/* Style 1 - Outer pulsing with icon */
.pulse:before{
    content: '';
    display: block;
    background-color: #ea6565;
    border-radius: 20px;
    position: absolute;
    /*Change to align pulse*/
    top: 36px;
    right: 2px;
    /*End Change*/
    height: 14px;
    width: 14px;
    transform: scale(1);
    animation: pulse-fade 2s infinite;
}

 

/* Inner Pulsing */
@keyframes pulse {
  0% {
      transform: scale(0.9);
  }

  50% {
      transform: scale(1.0);
  }

  100% {
      transform: scale(0.9);
  }
}

/* Outer Pulsing */
@keyframes pulse-fade {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgb(234, 101, 101, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(234, 101, 101, 0);
  }
  
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgb(234, 101, 101, 0);
  }
}

/* Body, containers, and icon styles */
  
.badge .container {
  width:12rem;
  height:10rem;
  display:flex;
  justify-content:center;
  align-items: center;
  position:relative;
  text-align:center;
  border: 8px solid rgb(60, 60, 147);
  border-radius: 20px;
 }

.badge .container i{
  font-size:5.3rem;
  color:#0f0f1070;
}

.badge {
    width: 200px;
    height: 15%;
   margin: 0% auto;  
  }