.btn {
  width: 89px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.btn-primary {
  background-color: blue;
}
.btn-secondary {
  background-color: grey;
}
.btn-success {
  background-color: green;
}
.btn-danger {
  background-color: red;
}

.btn-warning {
  background-color: yellow;
  color: black;
}
.btn-info {
  background-color: rgb(27, 94, 239);
  color: black;
}
.btn-light {
  color: black;
}
.btn-dark {
  background-color: black;
}

/* outline btns */
.btn-outline-primary {
  background-color: white;
  color: blue;
  border: 1.5px solid blue;
}
.btn-outline-primary:hover {
  background-color: blue;
  color: white;
}
.btn-outline-secondary {
  background-color: white;
  border: 1.5px solid grey;
  color: grey;
}
.btn-outline-secondary:hover {
  background-color: grey;
  color: white;
}
.btn-outline-success {
  background-color: white;
  color: green;
  border: 1.5px solid green;
}
.btn-outline-success:hover {
  background-color: green;
  color: white;
}
.btn-outline-danger {
  background-color: white;
  color: red;
  border: 1.5px solid red;
}
.btn-outline-danger:hover {
  background-color: red;
  color: white;
}

.btn-outline-warning {
  background-color: white;
  color: yellow;
  border: 1.5px solid yellow;
}
.btn-outline-warning:hover {
  background-color: yellow;
  color: black;
}
.btn-outline-info {
  color: rgb(27, 94, 239);
  background-color: white;
  border: 1.5px solid rgb(27, 94, 239);
}
.btn-outline-info:hover {
  background-color: rgb(27, 94, 239);
  color: black;
}
.btn-outline-light {
  color: rgb(202, 195, 195);
  background-color: white;
  border: 1.5px solid rgb(202, 195, 195);
}
.btn-outline-light:hover {
  color: black;
  background-color: rgb(202, 195, 195);
}
.btn-outline-dark {
  background-color: white;
  color: black;
  border: 1.5px solid black;
}
.btn-outline-dark:hover {
  background-color: black;
  color: white;
}
