@import url(./style.css);
@import url(./accordian.css);
@import url(./alert.css);
@import url(./avatar.css);
@import url(./badge.css);
@import url(./button.css);
@import url(./card.css);
@import url(./progress.css);
@import url(./txt-uti.css);
@import url(./txt-effect.css);
body {
  background-image: none;
  background-color: var(--white-color);
}

.nav-items .item-active {
  background-color: var(--light-purple-color);
  border-radius: 10px;
  padding: 5px;
}

.navbar.docs {
  height: 3.9rem;
  position: fixed;
  z-index: 99999;
  top: 0;
}

.main-doc {
  position: relative;
  top: 69px;
  font-family: "poppins";
  display: flex;
  margin: 3px 0px 0px 0px;
  width: 100%;
  height: 87vh;
  z-index: 9999;
}

/* left aside css  start */
.left-doc {
  background-color: var(--white-color);
  width: 22%;
  height: 100%;
  padding: 21px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0px 10px 0px 0px;
  z-index: 99;
  z-index: 9999;
}

.left-doc::-webkit-scrollbar {
  width: 13px;
  border-radius: 10px;
}

.left-doc::-webkit-scrollbar-track {
  background: #f2e5ed;
  border-radius: 10px;
}

.left-doc::-webkit-scrollbar-thumb {
  background: #a0a0e9;
  border-radius: 10px;
}

.left-doc::-webkit-scrollbar-thumb:hover {
  background: #3a1b7b;
}

.menu h3 {
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -25px;
  gap: 10px;
  color: var(--dark-blue-color);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4px;
}

.menu li {
  list-style: none;
  margin: 10px 0px 20px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  color: #a4629d;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu a {
  text-decoration: none;
}

.menu-2 .box-icon {
  font-size: 2.14rem;
}

.menu li:hover {
  background-color: #f1f4b4;
  cursor: pointer;
}

/* left aside css end */

/* right doc css start */

#code-snippet {
  width: 892px;
  height: 467px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

.right-doc {
  width: 78%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: #3a1b7b; */
  z-index: 9999;
}

.right-doc::-webkit-scrollbar {
  width: 13px;
  border-radius: 10px;
}

.right-doc::-webkit-scrollbar-track {
  background: #f2e5ed;
  border-radius: 10px;
}

.right-doc::-webkit-scrollbar-thumb {
  background: #a0a0e9;
  border-radius: 10px;
}

.right-doc::-webkit-scrollbar-thumb:hover {
  background: #3a1b7b;
}

.doc {
  width: 100%;
  /* background-color: aquamarine; */
  border-radius: 8px 0px 0px 0px;
  padding: 50px 30px 40px 40px;
}

/* intro doc css start*/

.intro-doc {
  height: 40rem;
  /* background-color: #4c0f46; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 33px;
}

.doc h1 {
  font-size: 2.6rem;
}

.doc p {
  font-size: 1rem;
}

/* intro doc css end */

/* install css start */

.install-doc {
  /* background-color: aqua; */
  height: 54rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 29px;
}

.install.snipet {
  width: 592px;
  height: 131px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

/* install css end */

/* browser css start */
.browser-doc {
  height: 63.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 29px;
}

.navbar.doc {
  width: 900px;
  margin: 0px;
  padding: 29px;
}

.nav-items.docs {
  width: 50%;
  padding: 0px;
}

.title.docs {
  padding: 0px;
}

.nav-docs img {
  width: 130px;
  height: 30px;
}

/* browser css end */

/* accordian css start */
.accordian-doc {
  height: 135.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 29px;
}

.accordion.two,
.Alert {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* accordian css end */

/* alert css start */
.alert-doc {
  height: 95.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 27px;
}

/* alert css end */
/* avatar css start */
.avatar-doc {
  height: 77.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  line-height: 27px;
}

.avatar-doc .avtar-frame {
  margin-top: 3rem;
}
/* badge css start */
.badge-doc {
  height: 88.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 27px;
}
.badge {
  width: 100%;
  display: flex;
  justify-content: center;
}
#code-snippet-badge-1,
#code-snippet-badge-2 {
  width: 692px;
  height: 187px;
  border: 0;
  overflow: auto;
}
/* button doc css start */
.btn-doc {
  height: 133.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 27px;
}
.btn-container {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  padding: 30px 10px;
  border-radius: 10px;
  border: 2px solid #3a1b7b;
  flex-wrap: wrap;
}
.btn-container.shimmer {
  background-color: #420a60;
}
#code-snippet-btn {
  width: 877px;
  height: 259px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
/* card-doc */
.card-doc {
  height: 128.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 27px;
}
.card-container-1,
.card-container-2 ,.prog-container,
.progress-container-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 5px solid #3a1b7b;
padding: 5px;
border-radius: 10px;

}
/* progress start */
.progress-doc {
  height: 89.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 27px;

}
#code-snippet-prog {
  width: 775px;
  height: 280px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
.prog-container {
     flex-direction: column;
  align-items: center;
}
/* text-utility */
.text-utility-doc{
  height: 50.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 27px;
}
.txt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #3a1b7b;
padding: 10px 0px ;
border-radius: 10px;
gap:20px;
}
/* text effect */
.txt-effect-doc{
  height: 49.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  line-height: 27px;
}
.txt-container.effect{
  background-color:  rgb(126, 107, 180);
}
.footer-line.doc {
  display: none;
}

/* right doc css end */

/* media queries for tab*/
@media screen and (max-width: 998px) {
  #code-snippet,
  #code-snippet-btn {
    width: 520px;
    height: 280px;
  }

  /* aside */
  #hamburger-R {
    display: block;
  }

  #cross-icon-R {
    display: none;
  }

  .left-doc {
    width: 100%;
    height: 100vh;
    border: 0.5px solid grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }

  .left-doc {
    display: none;
  }

  /* right-doc tab */
  .doc {
    padding: 10px 20px;
    margin-top: 10px;
    gap: 15px;
  }

  .right-doc {
    width: 100%;
  }

  /* intro doc css start*/

  .intro-doc {
    width: 100%;
    height: 36rem;
    line-height: 29px;
    gap: 22px;
  }

  .doc h1 {
    font-size: 1.5rem;
  }

  .doc h2 {
    font-size: 1.3rem;
  }

  .doc h4 {
    font-size: 1rem;
  }

  .install-doc {
    height: 64rem;
    line-height: 29px;
    gap: 22px;
  }

  .install-doc #code-snippet {
    height: 145px;
  }

  .browser-doc {
    height: 65rem;
    line-height: 29px;
  }

  .navbar.doc {
    width: 140%;
    margin: 0px;
    padding: 9px;
  }

  /* accordian- */
  .accordian-doc {
    height: 116.6rem;
  }

  .alert-doc {
    height: 76rem;
  }
}

/* tab ends */

/* media queries for mobile*/

@media screen and (max-width: 468px) {
  /* aside */
  #hamburger-R {
    display: block;
  }

  #cross-icon-R {
    display: none;
  }

  .left-doc {
    width: 100%;
    height: 100vh;
    padding: 20px;
  }

  .left-doc {
    display: none;
  }

  /* right-doc mobile */

  #code-snippet,
  #code-snippet-badge-1,
  #code-snippet-badge-2,
  #code-snippet-btn,
  #code-snippet-prog {
    width: 300px;
    height: 150px;
  }

  .right-doc {
    width: 100%;
    height: 100vh;
  }

  /* intro doc css start*/

  .doc {
    width: 100%;
    gap: 12px;
    line-height: 21px;
    padding: 20px 20px 0px 20px;
  }

  .intro-doc {
    height: 29rem;
  }

  .doc h1 {
    font-size: 1.2rem;
  }

  .doc h2 {
    font-size: 1.1rem;
  }

  .doc h4 {
    font-size: 0.8rem;
  }

  .install-doc {
    height: 49rem;
  }

  .doc li,
  .doc p {
    font-size: 0.7rem;
  }

  .doc h3 {
    font-size: 0.8rem;
  }

  /* broser css */
  .browser-doc {
    height: 49rem;

    gap: 10px;
  }

  .navbar.doc {
    width: 295px;
    margin: 0px;
    padding: 9px;
  }

  /* accordion */

  .accordian-doc {
    height: 88.6rem;
  }

  /* alert */
  .alert-doc {
    height: 53rem;
    line-height: 20px;
  }
  /* avatar */
  .avatar-doc {
    height: 50rem;

    line-height: 20px;
  }
  /* badge */
  .badge-doc {
    height: 56rem;
  }
  /* button */
  .btn-doc {
    height: 113.5rem;
  }
  /* card */
  .card-doc {
    height: 73rem;
  }
  /* progress */
  .progress-doc {
    height: 72rem;
  }
  .s-progress {
    width: 257px;
    height: 25px;

    margin: 9px 0px;
  }
  .progress-container-2 .circle {
    width: 100px;
    height: 100px;
  }
/* text utility */
.text-utility-doc{
  height: 43rem;
}
  /* .footer-line.doc {
    display: flex;
    position: relative;
    bottom: -46px;
  } */
}
