@import url(./style.css);

body {
    background-image: none;
    background-color: var(--white-color);
}

.nav-items .item-active {
    background-color: var(--light-purple-color);
    border-radius: 10px;
    padding: 5px;
}

.main-doc {
    font-family: "poppins";
    display: flex;
    margin: 3px 0px;
}

/* left aside css  start */
.left-doc {
    background-color: var(--white-color);
    width: 22%;
    height: 100vh;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    border-radius: 0px 10px 0px 0px;
    z-index: 99;
}

.left-doc::-webkit-scrollbar {
    width: 13px;
    border-radius: 10px;
}

.left-doc::-webkit-scrollbar-track {
    background: #f2e5ed;
    border-radius: 10px;
}

.left-doc::-webkit-scrollbar-thumb {
    background: #a0a0e9;
    border-radius: 10px;
}

.left-doc::-webkit-scrollbar-thumb:hover {
    background: #3a1b7b;
}

.menu h3 {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--dark-blue-color);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menu li {
    list-style: none;
    margin: 15px 0px 15px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 4px;
    color: #a4629d;
}

.menu-2 .box-icon {
    font-size: 2.14rem;
}

.menu li:hover {
    background-color: #f5f7ec;
    cursor: pointer;
}

/* left aside css end */

/* right doc css start */
.right-doc {
    width: 78%;
}

/* intro doc css start*/

.intro-doc {
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    border-radius: 8px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    padding: 40px 30px 0px 40px;
    overflow: auto;
    line-height: 33px;
}

.intro-doc h1 {
    font-size: 2.6rem;
}

.intro-doc p {
    font-size: 1rem;
}

/* intro doc css end */

/* right doc css start */

/* media queries for tab*/
@media screen and (max-width: 998px) {

    /* aside */
    #hamburger-R {
        display: block;
    }

    #cross-icon-R {
        display: none;
    }

    .left-doc {
        width: 100%;
        height: 100vh;
        border: 0.5px solid grey;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }

    .left-doc {
        display: none;
    }
}

/* media queries for mobile*/

@media screen and (max-width: 468px) {

    /* aside */
    #hamburger-R {
        display: block;
    }

    #cross-icon-R {
        display: none;
    }

    .left-doc {
        width: 200%;
        height: 100vh;
        border: 0.5px solid grey;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }

    .left-doc {
        display: none;
    }
}